@{
    ViewData["Title"] = "About the Application";
    ViewData["Author"] = "by Matthew Tan";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Author"]</h2>

<p>Semper auctor neque vitae tempus quam pellentesque nec. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Ut venenatis tellus in metus vulputate eu scelerisque. Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Tincidunt nunc pulvinar sapien et ligula. Facilisi nullam vehicula ipsum a arcu cursus vitae congue. Urna porttitor rhoncus dolor purus non enim. Eleifend mi in nulla posuere sollicitudin. Platea dictumst quisque sagittis purus sit amet volutpat consequat mauris. Dolor sed viverra ipsum nunc aliquet. Cursus mattis molestie a iaculis at erat pellentesque. Facilisis mauris sit amet massa vitae tortor. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae.</p>
